<!-- <h3 class="jumbotron"style="text-align:center;"><b>Admin Dashboard</b></h3><br/> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>

<div id="wrapper">

    <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars" aria-hidden="true" style="color: white;"></i>
            </button>
            <div class="navbar-brand">   
            </div>
        </div>

        <!-- <form action="" class="navbar-form navbar-left">
            <div class="input-group">
              <div class="input-group-btn">
                  <button class="btn  search-btn-icon">
                   <i class="fa fa-search" aria-hidden="true"></i>                  
                  </button>
               </div>
              <input type="Search" placeholder="Search..." class="form-control-serch search-box" />   
            </div>     
        </form> -->

        <!-- Top Menu Items -->
        <div class="items">
          <ul class="nav navbar-right top-nav">        
            <li class="editpro">
              <i class="fasett fa-cog" aria-hidden="true" class="menu-button" id="menu-button"></i> 
              <h5 style="color:white;" class="pull-left login-person-head">Welcome</h5> 
            </li>
          </ul>
        </div>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" 
         style="background-color: #616060; border:1px solid #616060;">
            <ul class="nav navbar-nav side-nav">
             
                    <li>
                      <h3 class="jumbotron"style="text-align:center;"><b>Employee Dashboard</b></h3><br/>
                            <a class="active" href="#" data-toggle="collapse" data-target="#submenu-1">
                                <i class="fa fa-home" aria-hidden="true"></i>   <span style="color:white;">  
                                     <a class="active" >Employee Home
                                     </a>
                                     </span></a>
                         </li>
                <li>
                   <a class="active" href="#" data-toggle="collapse" data-target="#submenu-1">
                       <i class="fa fa-home" aria-hidden="true"></i>   <span style="color:white;">  
                            <a class="active" routerLink="/employee/employeetickets">Raised Ticket Details
                            </a>
                         </span></a>
                </li>
                <li>
                    <a class="#" href="#" data-toggle="collapse" data-target="#submenu-1">
                        <i class="fa fa-user-o" aria-hidden="true"></i>   
                        <span style="color:white;">
                        <a class="active" routerLink="/employee/ticket">Raise New Ticket
                       </a></span></a>
                   
                </li>
                <!-- <li>
                    <a class="#" href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-calendar" aria-hidden="true"></i>   <span style="color:white;"> Escalate </span></a>
                </li>
                <li>
                    <a class="#" href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-envelope" aria-hidden="true"></i>  <span style="color:white;"> Pdf  </span></a>
                </li> -->
                <li>
                    <a class="#" href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fa fa-cogs" aria-hidden="true"></i>   <span style="color:white;"> Logout </span></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
  </nav>
  <router-outlet></router-outlet>


<div class="container-fluid">
<div class="row text-center">
<div class="col-md-12 dashhead">

</div>
</div>
</div>

  </div><!-- /#wrapper -->
</body>
<!-- <router-outlet></router-outlet> -->