<p>newticketdetails works!</p>
<p *ngFor = "let a of genAttributes">
    {{a}} : {{ticket[a]}}
</p>
<table border="1">
    <tr>
    <th *ngFor="let sfield of statusAttributes">
        {{sfield}}</th>
    </tr>
        <tr *ngFor="let log of logs">
                <td *ngFor="let sfield of statusAttributes">
                   {{log[sfield]}}
                </td>
        </tr>
</table>

<h1> CLOSED TICKET</h1>
<button class="button" (click)="Closed()">CLOSED</button>

<div>
    <form [ngClass]="{'invis':!invis}">
        <div>
            Rating: <input type="text" [(ngModel)]="rating" name="rname" value="id"><br>
            Feedback: <input type="text" [(ngModel)]="feedback" name="fdname" value="id"><br>
            <button class="button" (click)="Submit()">Submit</button>
        </div>
    </form>
    <div >
        <h3>{{show.message}}</h3>
</div>


